################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/499.InteractionHandlers/bin/Debug
/499.InteractionHandlers/obj/Debug
/Lib.GestureTrigger
/499Interaction.v12 (Copia en conflicto de SkyEight 2015-05-29).suo
/KinectBasis/bin/Debug
/KinectBasis/obj/Debug
